venv/
env/
.venv/
db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.local
.env.development
.env.production
.vscode/
.idea/
migrations/
staticfiles/
media/
*.log
*.pot
*.pyc
*.db
.DS_Store
Thumbs.db
dist/
build/
*.egg-info/
*.egg
Dockerfile
docker-compose.yml
.dockerignore
node_modules/
bower_components/
.pip_cache/
.pytest_cache/